@{
    ViewBag.Title = "About";
}

<!-- Container (About Section) -->
<div class="container">
    <div class="row">
        <div>
            @*<span class="glyphicon glyphicon-signal logo"></span>*@
        </div>
        <div>
            <h2>About Company Page</h2>
            <h4>Lorem ipsum..</h4>
            <p>Lorem ipsum..</p>
            @*<button class="btn btn-default btn-lg">Get in Touch</button>*@
        </div>
    </div>
    <div class="row">
        <div>
            @*<span class="glyphicon glyphicon-globe logo"></span>*@
        </div>
        <div>
            <h2>Our Values</h2>
            <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>
            <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
        </div>
    </div>
</div>
