@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @*<div class="jumbotron">
        <h1>DOOSOH INC</h1>
        <p class="lead">Innovative water pipes for a new culture.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
    @*<div class="jumbotron text-center">
        <h1>Doosoh Inc</h1>
        <p class="lead">Innovative water pipes for a new culture.</p>
        <form class="form-inline">
            <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Join Our Mailing List</button>
                </div>
            </div>
        </form>
    </div>*@
    @*<div id="banner">
        <div id="wrapper">*@
      <div class="row">
          @*<div class="col-sm-2">
              <div id="container">
                  <img class=".img-responsive text-center" src="~/assets/IMG_0009_bc_cube.jpg" width="100%" height="100%" />
              </div>
          </div>*@
            <div class="col-sm-12">
                <div id="container">
                    <img class=".img-responsive text-center" src="~/assets/headerimagebase2.png" width="100%" height="100%"/>
                </div>
            </div>
          @*<div class="col-sm-2">
              <div id="container">
                  <img class=".img-responsive text-center" src="~/assets/IMG_0009_bc_cube.jpg" width="100%" height="100%" />
              </div>
          </div>*@
        </div>
    <br/>
    <h3>Meet our first pipe - Berplesh</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="../../Assets/prototype.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <img src="../../Assets/prototype.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <div class="well text-left">
                @*<a href="#" class="fa fa-envelope" style="font-size:33px;color:rgb(0, 0, 0)"> Join our mailing list.</a>*@
                <form class="form-inline">
                    <div class="input-group">
                        <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-danger">Join Our Mailing List</button>
                        </div>
                    </div>
                </form>
                <br />
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-check-square text-left"></i>Doosoh Product Updates</li>
                    <li><i class="fa-li fa fa-check-square text-left"></i>Special Offers</li>
                    <li><i class="fa-li fa fa-check-square text-left"></i>Be the first to know when our pipe goes live</li>
                </ul>
                @*<a href="#" class="fa fa-facebook-official" style="font-size:48px;color:rgb(69, 89,152)"></a>
                <a href="#" class="fa fa-twitter-square" style="font-size:48px;color:rgb(29, 202, 255)"></a>
                <a href="#" class="fa fa-instagram" style="font-size:48px;color:rgb(69, 89,152)"></a>
                <a href="#" class="fa fa-reddit-square" style="font-size:48px;color:rgb(0, 0, 0)"></a>*@
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>A Grassroots Company</h2>
            <p>Doosoh is grassroots and possible because of you.</p>
            <p>Support us and be one of the first to own our first pipe. With your help, we can bring affordable, quality smokeware to the market.</p>
            <p><a class="btn btn-default" href="http://google.com">Read More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Indiegogo Campaign</h2>
            <img src="~/assets/igg_logo_frame_gogenta_rgb-2-acdbed8c9b7f24c740e03f2e3fd13f60750a6ccb3817414df4f00a90d518d960.png" class="img-responsive" style="width:75%" alt="Image" />
        </div>
        <div class="col-md-4">
            <h2>Social Media</h2>
            <p>Follow us on social media to hear about product updates, offers, events, and more.</p>
            <div>
                <a href="#" class="fa fa-facebook-official" style="font-size:48px;color:rgb(69, 89,152)"></a>
                <a href="#" class="fa fa-twitter-square" style="font-size:48px;color:rgb(29, 202, 255)"></a>
                <a href="#" class="fa fa-instagram" style="font-size:48px;color:rgb(69, 89,152)"></a>
                <a href="#" class="fa fa-reddit-square" style="font-size:48px;color:rgb(0, 0, 0)"></a>
            </div>
        </div>
    </div>

</div>


